.entrance__wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.entrance__wrapper input {
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    outline: none;
}

.entrance__wrapper button {
    text-align: center;
    width: 100%;
    background-color: #7366ff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.entrance__wrapper button:hover {
    background-color: #b6b6ff;
    transition: background-color .3s ease-in;
}